.main-container {
  width: 100%;
}

.sommy {
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  background-color: burlywood;
  padding: 10px 20px;
}

.detail-second-conmtainer {
  display: flex;
  gap: 2rem;
  justify-content: flex-start; /* Changed from center to push elements to the left */
  align-items: center;
  font-size: 13px;
  width: 90%;
  margin-left: 5%;
  max-width: 1200px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .main-container {
    display: none;
  }
}